
<div class="row">

  <h2 class="paiementsTitle mx-auto">modifier un nouveau </h2>
  <br>
  <br>
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">

        <form class="form-sample" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Prenom</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  [(ngModel)]="client.lastName" name="firstName" id="firstName"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nom</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="client.firstName" name="lastName" id="lastName"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nom d'utilisateur</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="username" id="username" [(ngModel)]="client.identification.username" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Mot de passe</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" name="password"  id="password" [(ngModel)]="client.identification.password"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">CIN</label>
                <div class="col-sm-9">
                  <input class="form-control" name="serialNumber" id="serialNumber" [(ngModel)]="client.identity.serialNumber"/>
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date de naissance</label>
                <div class="col-sm-9">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="dob" id="dob" [(ngModel)]="client.dob"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Addresse postale</label>
                <div class="col-sm-9">
                  <input class="form-control" name="address" id="address" [(ngModel)]="client.address"/>
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Balance</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="balance" id="balance" [(ngModel)]="client.account.balance"/>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Addresse email</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="email" id="email" [(ngModel)]="client.email"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Numero téléphone</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" [(ngModel)]="client.phoneNumber" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date de création</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="creationDate"  id="creationDate" [(ngModel)]="client.account.creationDate"/>
                </div>
              </div>
            </div>


          </div>

          <button class="btn  btn-primary  font-weight-medium auth-form-btn"  type="submit">submit
          </button>

        </form>
      </div>
    </div>
  </div>
</div>
