<div>
    <h2 style="text-align: center; color: rgb(19, 7, 71);">Transfert d'argent</h2>
</div>
<div  class="conteneur">
    <br><br>
    <h3 style="margin-left: 50px;">Information de transfert</h3><br><br>
    <div style="margin: 1em;">
        <form action="#" class="form-sample">
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Compte émetteur</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Compte bénéficiare</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Montant</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Date de transfert</label>
                    <div class="col-sm-6">
                      <input type="date" class="form-control" />
                    </div>
                  </div>
                </div>
            </div>
        </form>
    </div>
    
</div>
