<div>
    <h2 style="text-align: center; color: rgb(19, 7, 71);">Transfert d'argent</h2>
</div>
<div  class="conteneur" style="height: auto;">
    <br>
    <h3 style="margin-left: 50px;">Information de transfert</h3><br>
    <div class="col-xs-10 col-md-12" style="margin: 0 auto;width: 97%;">
        <form>
            <div class="row">
                <div class="col-md-6 col-xs-10">
                  <div class="form-group row">
                    <label class="col-sm-4 col-md-5 col-form-label" >Compte émetteur</label>
                    <div class="col-sm-6 col-md-5">
                      <input type="text" class="form-control" id="emetteur" (ngModel)="trans.emetteur" name="emetteur" />
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-10">
                  <div class="form-group row">
                    <label class="col-sm-4 col-md-5 col-form-label">Compte bénéficiare</label>
                    <div class="col-sm- col-md-5">
                      <input type="text" class="form-control" id="beneficiaire" name="beneficiaire" (ngModel)="trans.beneficiaire" />
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-10">
                  <div class="form-group row">
                    <label class="col-sm-4 col-md-5  col-form-label">Montant</label>
                    <div class="col-sm-6 col-md-5">
                      <input type="text" class="form-control" id="montant" (ngModel)="trans.montant" name="montant" />
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-10">
                  <div class="form-group row">
                    <label class="col-sm-4 col-md-5  col-form-label">Date de transfert</label>
                    <div class="col-sm-6 col-md-5">
                      <input type="date" class="form-control" id="dateTrans" (ngModel)="trans.dateTrans" name="dateTrans"/>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-xs-10">
                <div class="form-group row">
                  <div class="col-xs-3 col-md-6">
                    <input type="button" class="btn btn-success" value="Transférer" (click)="onSubmit()">
                  </div>
                  <div class="col-xs-3 col-md-6">
                    <input type="reset" class="btn btn-warning" value="Annuler">
                  </div>
                </div>
              </div>
          </div>
        </form>
    </div>
    
</div>
