<div class="page-header">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">

    </ol>
  </nav>
</div>
<div class="row">

  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">

        <form class="form-sample">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="firstName" [(ngModel)]="client.firstName"  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nom</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="lastName" [(ngModel)]="client.lastName" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">CIN</label>
                <div class="col-sm-9">
                  <input class="form-control" name="CIN" [(ngModel)]="client.CIN" />
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date de naissance</label>
                <div class="col-sm-9">
                  <input class="form-control" placeholder="dd/mm/yyyy" name="Birthday" [(ngModel)]="client.Birthday" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Addresse postale</label>
                <div class="col-sm-9">
                  <input class="form-control" name="AddressePostale" [(ngModel)]="client.addressePostale" />
                </div>
              </div>
              </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Sexe</label>
                <div class="col-sm-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked>
                      Femme
                      <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">
                      Homme
                      <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Addresse email</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="email" [(ngModel)]="client.email" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Numero téléphone</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="numTel" [ngModel]="client.phoneNumber" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date de création</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="dd/mm/yyyy" name="AddressePostale" [(ngModel)]="client.dateCreation" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Num Réf</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Agent</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>


          <button nz-button nzType="primary" (click)="ajouterClient()">Ajouter</button>


        </form>
      </div>
    </div>
  </div>
</div>
