<div class="row">

<div class="col-md-6">
  <div class="col-md-12 stretch-card grid-margin solde ">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <div>
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
          <h4 class="font-weight-normal mb-3">Votre Solde
            <i class="mdi mdi-chart-line mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5"> {{ client?.account?.balance }} MAD</h2>
        </div>
        <div>
          <h4 class="font-weight-normal mb-3">RIP</h4>
          <h2 class="mb-5"> {{ client?.account?.id }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 stretch-card grid-margin mx-auto">
    <div class="card card-img-holder text-white">
      <div class="card-body">

        <div class="row">
          <div class="col-md-3 text-black text-center">
            <a class="nav-link" routerLink="/dashboard/client/visualiser-compte" routerLinkActive #VisualiserCompte="routerLinkActive">
              <i class="mdi mdi-account-circle"></i>
            </a>
          </div>
          <div class="col-md-3 text-black text-center">
            <a class="nav-link" routerLink="/dashboard/client/effectuer-virement" routerLinkActive #EffectuerVirement="routerLinkActive">
              <i class="mdi mdi-credit-card-scan"></i>
            </a>
          </div>
          <div class="col-md-3 text-black text-center">
            <a class="nav-link" routerLink="/dashboard/client/consulter-historique" routerLinkActive #ConsulterHistorique="routerLinkActive">
              <i class="mdi mdi-history"></i>
            </a>
          </div>
          <div class="col-md-3 text-black text-center">
            <a class="nav-link" routerLink="/dashboard/client/payer-factures" routerLinkActive #PayerFactures="routerLinkActive">
              <i class="mdi mdi-credit-card"></i>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 text-black text-center"><a class="nav-link" routerLink="/dashboard/client/visualiser-compte" routerLinkActive #VisualiserCompte="routerLinkActive">Visualiser le compte</a></div>
          <div class="col-md-3 text-black text-center"><a class="nav-link" routerLink="/dashboard/client/effectuer-virement" routerLinkActive #EffectuerVirement="routerLinkActive">Effectuer des virements</a></div>
          <div class="col-md-3 text-black text-center"><a class="nav-link" routerLink="/dashboard/client/consulter-historique" routerLinkActive #ConsulterHistorique="routerLinkActive">Consulter l'historique des paiement</a></div>
          <div class="col-md-3 text-black text-center"><a class="nav-link" routerLink="/dashboard/client/payer-factures" routerLinkActive #PayerFactures="routerLinkActive">Payer les factures</a></div>
        </div>

      </div>
    </div>
  </div>
</div>

  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">L'évaluation des entrées et des sorties</h4>
        <canvas baseChart [chartType]="'doughnut'" [datasets]="trafficChartData" [labels]="trafficChartLabels" [options]="trafficChartOptions" [colors]="trafficChartColors"></canvas>
        <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4">
          <ul>
            <li class="text-danger">
              <span class="legend-dots"></span><i class="mdi mdi-trending-down"></i> Sorties
              <span class="float-right">{{this.negativeTransaction | number : '1.0-2'}}%</span>
            </li>
            <li class="text-success">
              <span class="legend-dots"></span><i class="mdi mdi-trending-up"></i> Entrées
              <span class="float-right">{{this.positiveTransaction | number : '1.0-2'}}%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row mx-auto">
  <div class="col-md-10 grid-margin grid-margin-md-0 stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Derniere Transactions</h4>
          </div>
          <div class="float-right col-3"><a routerLink="/dashboard/client/consulter-historique" >Afficher tous</a></div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>
                Nom
              </th>
              <th>
                Date
              </th>
              <th>
                Montant
              </th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trans of this.client.account.history.transactions; let i = index">
                <td *ngIf="i < 3">{{ trans.title }}</td>
                <td *ngIf="i < 3">{{ trans.transactionDate }}</td>
                <td *ngIf="i < 3" [ngClass]="{'text-success': trans.amount > 0, 'text-danger': trans.amount < 0}">
                  <label *ngIf="trans.amount > 0">+</label>
                  {{ trans.amount }} MAD
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

